<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {% for user in users %}
        <a href="{% url 'form:detail' pk=user.pk %}">
            <li>
                <img height="200" width="200" src="{{ user.image.url }}" alt="">
                <h1>{{ user.first_name }}</h1>
                <h1>{{ user.last_name }}</h1>
            </li>
            <a href="{% url 'form:update' pk=user.pk %}">Update</a> 
            <a href="{% url 'form:delete' pk=user.pk %}">Delete</a>
        </a>
    {% endfor %}
</ul>

</body>
</html>